@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #1a1a1a;
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#mxdlab-logo {
    width: 150px;
    margin: 100px auto;
}

footer {
    color: #3a3a3a;
}